@* FOOTER *@

<footer class="footer">
    <div class="container">
        <div class="footer_wrapper d-sm-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
            <div class="footer_block col-sm-6 col-lg-auto" data-order="1">
                <div class="logo logo--footer">
                    <a class="d-inline-flex align-items-center" href="@Url.Action("Index", "Home")">
                        <span class="logo_picture">
                            <img src="~/Images/ELEC.png" alt="ELEC" />
                        </span>
                        <span class="text">
                            <span class="brand">ELEC</span>
                            <span class="text_secondary">Spanish School</span>
                        </span>
                    </a>
                </div>
                <a class="footer_secondary-scroll" title="Scroll hacia arriba" id="scrollToTop" href="#">
                    <i class="fa-solid fa-chevron-up"></i>
                </a>
            </div>
            <div class="footer_block col-sm-6 col-lg-auto" data-order="2">
                <h5 class="footer_block-header">Contacto:</h5>
                <div class="wrapper d-flex flex-column">
                    <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="mailto:admissionsELEC@outlook.com">
                        <i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>
                        admissionsELEC@outlook.com
                    </a>
                    <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="tel:+50688263675">
                        <i class="fa-solid fa-phone" style="margin-right: 5px;"></i>
                        +506 8826-3675
                    </a>
                </div>
            </div>
            <div class="footer_block col-sm-6 col-lg-auto m-sm-0" data-order="3">
                <ul class="footer_block-socials d-flex align-items-center">
                    <li class="footer_block-socials_item">
                        <a class="link" href="https://www.facebook.com" title="Enlace a Facebook" target="_blank" rel="noopener noreferrer" style="color: rgb(66, 103, 178);">
                            @*<i class="icon-facebook"></i>*@
                        </a>
                    </li>
                    <li class="footer_block-socials_item">
                        <a class="link" href="https://www.twitter.com" title="Enlace a Twitter" target="_blank" rel="noopener noreferrer" style="color: rgb(29, 161, 242);">
                            @*<i class="icon-twitter"></i>*@
                        </a>
                    </li>
                    <li class="footer_block-socials_item">
                        <a class="link" href="https://www.instagram.com" title="Enlace a Instagram" target="_blank" rel="noopener noreferrer" style="color:rgb(221, 42, 123); ">
                            @*<i class="icon-instagram"></i>*@
                        </a>
                    </li>
                </ul>

                <p class="footer_secondary-copyright">Copyright&commat; SAEE ELEC</p>
            </div>
        </div>
    </div>
</footer>


@* TEMPLATE *@


@* DATATABLE *@
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

@*ALERT CONFIRM *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
