<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home | Edison</title>
    <script id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js" async=""></script>
    <script src="https://www.youtube.com/player_api"></script>
    <link rel="stylesheet preload" as="style" href="~/Template/css/preload.min.css" />
    <link rel="stylesheet preload" as="style" href="~/Template/css/icomoon.css" />
    <link rel="stylesheet preload" as="style" href="~/Template/css/libs.min.css" />

    <link rel="stylesheet" href="~/Template/css/index.min.css" />
</head>

<body>
    @* TOP *@
    <div class="promobar d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <ul class="promobar_socials d-flex align-items-center">
                <li class="promobar_socials-item">
                    <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li class="promobar_socials-item">
                    <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li class="promobar_socials-item">
                    <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                        <i class="icon-instagram"></i>
                    </a>
                </li>
            </ul>
            <div class="promobar_main d-flex align-items-center">
                <p class="promobar_main-text">Try for free! <span class="hide">30 day Trial and Free Lectures</span></p>
                <a class="btn btn--yellow" href="#" id="signUpTrigger">
                    <span>Sign Up</span>
                </a>
            </div>
        </div>
    </div>

    @* NAV *@
    <header class="header" data-page="home">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <div class="logo header_logo">
                <a class="d-inline-flex align-items-center" href="~/Template/index.html">
                    <span class="logo_picture">
                        <img src="~/Template/svg/logo.svg" alt="Edison" />
                    </span>
                    <span class="text">
                        <span class="brand">edison</span>
                        <span class="text_secondary">courses</span>
                    </span>
                </a>
            </div>
            <button class="header_trigger"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#headerMenu"
                    aria-controls="headerMenu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="header_nav collapse" id="headerMenu">
                <ul class="header_nav-list">
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="~/Template/index.html" data-page="home">Home</a>
                    </li>
                    <li class="header_nav-list_item dropdown">
                        <a class="nav-link nav-item dropdown-toggle d-inline-flex align-items-center"
                           href="courses.html"
                           data-bs-toggle="collapse"
                           data-bs-target="#coursesMenu"
                           data-trigger="dropdown"
                           aria-expanded="false"
                           aria-controls="coursesMenu"
                           data-page="courses">
                            All Courses
                            <i class="icon-angle-down icon"></i>
                        </a>
                        <div class="dropdown-menu collapse" id="coursesMenu">
                            <ul class="dropdown-list">
                                <li class="list-item" data-main="true">
                                    <a class="dropdown-item nav-item" data-page="courses" href="courses.html" data-main="true">
                                        All Courses
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="course" href="~/Template/course.html">Course Description</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="~/Template/about.html" data-page="about">About Us</a>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="~/Template/pricing.html" data-page="pricing">Prices</a>
                    </li>
                    <li class="header_nav-list_item dropdown">
                        <a class="nav-link nav-item dropdown-toggle d-inline-flex align-items-center"
                           href="~/Template/journal.html"
                           data-bs-toggle="collapse"
                           data-bs-target="#journalMenu"
                           data-trigger="dropdown"
                           aria-expanded="false"
                           aria-controls="journalMenu"
                           data-page="journal">
                            Journal
                            <i class="icon-angle-down icon"></i>
                        </a>
                        <div class="dropdown-menu collapse" id="journalMenu">
                            <ul class="dropdown-list">
                                <li class="list-item" data-main="true">
                                    <a class="dropdown-item nav-item" data-page="journal" href="~/Template/journal.html" data-main="true">
                                        Journal
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="post" href="~/Template/post.html">Single Post</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_nav-list_item dropdown">
                        <a class="nav-link nav-item dropdown-toggle d-inline-flex align-items-center"
                           href="#"
                           data-bs-toggle="collapse"
                           data-bs-target="#pagesMenu"
                           data-trigger="dropdown"
                           aria-expanded="false"
                           aria-controls="pagesMenu"
                           data-page="">
                            Pages
                            <i class="icon-angle-down icon"></i>
                        </a>
                        <div class="dropdown-menu collapse" id="pagesMenu">
                            <ul class="dropdown-list">
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="library" href="~/Template/library.html">Media library</a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="events" href="~/Template/events.html">Events</a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="teachers" href="~/Template/team.html">Teachers</a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="faq" href="~/Template/faq.html">FAQ</a>
                                </li>
                                <li class="list-item">
                                    <a class="dropdown-item nav-item" data-page="error" href="~/Template/404.html">404</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header_nav-list_item">
                        <a class="nav-item" href="~/Template/contacts.html" data-page="contacts">Contact Us</a>
                    </li>
                </ul>
                <ul class="promobar_socials d-flex align-items-center justify-content-center">
                    <li class="promobar_socials-item">
                        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li class="promobar_socials-item">
                        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li class="promobar_socials-item">
                        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- homepage content start -->
    <main>
        @RenderBody()
    </main>
    <!-- homepage content end -->

    @* FOOTER *@
    <footer class="footer">
        <div class="container">
            <div class="footer_wrapper d-sm-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
                <div class="footer_block col-sm-6 col-lg-auto" data-order="1">
                    <div class="logo logo--footer">
                        <a class="d-inline-flex align-items-center" href="index.html">
                            <span class="logo_picture">
                                <img src="~/Template/svg/logo.svg" alt="Edison" />
                            </span>
                            <span class="text">
                                <span class="brand">edison</span>
                                <span class="text_secondary">courses</span>
                            </span>
                        </a>
                    </div>
                    <a class="footer_secondary-scroll" id="scrollToTop" href="#">
                        <i class="icon-angle-up icon"></i>
                    </a>
                </div>
                <div class="footer_block col-sm-6 col-lg-auto" data-order="2">
                    <h5 class="footer_block-header">Contacto:</h5>
                    <div class="wrapper d-flex flex-column">
                        <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="mailto:example@domain.com">
                            <i class="icon-envelope icon"></i>
                            correoEscual@mail.com
                        </a>
                        <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="tel:+123456789">
                            <i class="icon-phone-solid icon"></i>
                            numEscual0000
                        </a>
                    </div>
                </div>
                <div class="footer_block col-sm-6 col-lg-auto m-sm-0" data-order="3">
                    <ul class="footer_block-socials d-flex align-items-center">
                        <li class="footer_block-socials_item">
                            <a class="link" href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="footer_block-socials_item">
                            <a class="link" href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li class="footer_block-socials_item">
                            <a class="link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="footer_secondary-copyright">Copyright <span id="currentYear"></span> SAEE</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="~/Template/js/common.min.js"></script>
</body>
</html>