@model SAEE_Web.Entities.MaterialPerWeekEnt

@{
    ViewBag.Title = "RegisterMaterial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
               
                    

                    <h2 class="contacts_form-header_title" style="font-size: 2.5em;">Registrar Cursos</h2>
             
            </div>
            <hr />
            <h5>Agregue el material educativo de esta semana.</h5>
            <br />

            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }

           

            @using (Html.BeginForm("RegisterMaterial", "CourseMaterial", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm", @enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label style="margin-right: 20rem;">Nombre del Material Educativo:</label>
                    @Html.TextBoxFor(m => m.MaterialName, new { @class = "field required", @type = "text", @placeholder = "Nombre del Material Educativo", MaxLength = "50" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Archivo:</label>
                    <input type="file" id="FileNew" name="FileNew" class="field required" placeholder="Archivo" onchange="validateFile(this)" accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, image/*" />
                    <p style="color: #1C8ADA; text-align: left;">Solo puede subir jpeg, png, gif, pdf, doc, docx, xls, ppt</p>
                </div>
                <div id="fileTypeError" style="display:none; color:red; margin-top: 5px;">Por favor, seleccione un archivo de imagen, PDF, Word, Excel o PowerPoint.</div>
              

                <hr />
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--return" style="color:white; font-size: 1em; padding: 0.5em 1em; margin-right: 10px; width:9rem;" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                    <button type="button" class="btn btn--login" style="color: white;  width: 12rem" onclick="validateForm()">REGISTRAR</button>

                </div>
            }
        </div>
    </section>
</main>


<!-- Modal -->
@Html.Partial("_Alerts")
<!-- Modal -->



<script>
    function validateFile(input) {
        if (input.files.length > 0) {
            var file = input.files[0];
            var fileName = file.name.toLowerCase();
            var fileExtension = fileName.split('.').pop();

            if (!['pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'jpg', 'jpeg', 'png', 'gif'].includes(fileExtension)) {
                document.getElementById('fileTypeError').style.display = 'block';
                input.value = ''; 
            } else {
                document.getElementById('fileTypeError').style.display = 'none';
            }
        }
    }

    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        if (formIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
       
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }
</script>





