@model SAEE_Web.Entities.MaterialPerWeekEnt

@{
    ViewBag.Title = "RegisterMaterial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h2 class="contacts_form-header_title">Subir Material Educativo</h2>
            </div>
            <hr />

            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-danger" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }

            <div class="back-button-container">
                <button type="button" class="btn btn--return" style="color:white;" onclick="history.back()">
                    <i class="fas fa-arrow-left"></i> Volver
                </button>
            </div>

            @using (Html.BeginForm("RegisterMaterial", "CourseMaterial", FormMethod.Post, new { @class = "contacts_form-form", id = "registerForm", @enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label style="margin-right: 20rem;">Nombre del Material Educativo:</label>
                    @Html.TextBoxFor(m => m.MaterialName, new { @class = "field required", @type = "text", @placeholder = "Nombre del Material Educativo" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 53rem;">Archivo:</label>
                    <input type="file" id="FileNew" name="FileNew" class="field required" placeholder="Archivo" />
                </div>

                <hr />
                <div class="contacts_form-form_footer">
                    <button type="button" class="btn btn--login" style="color:white;" onclick="validateForm()">REGISTRAR</button>
                </div>
            }
        </div>
    </section>
</main>


<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center" style="background: rgb(61, 89, 255); color:#fff; ">
                <h5 class="modal-title mr-auto" id="confirmationModalLabel">Confirmación de Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center align-content-center">
                <div style="display: inline-block;">
                    <img src="~/Images/checklist.png" style="width: 100px;" />
                </div>

                <h5 class="modal-title mr-auto">¿Está seguro de agregar el curso?</h5>
                <p id="courseName" style="font-size: 24px; font-weight: bold;"></p>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="background: rgb(61, 89, 255); border-color: rgb(61, 89, 255); ">
                <!-- Añadido d-flex justify-content-center -->
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn--rAvailable" style="background-color: rgb(127, 167, 118); color: #ffff " onclick="submitForm()">Aceptar</button> <!-- Corregido el estilo -->
            </div>
        </div>
    </div>
</div>


<script>
    function validateForm() {
        var formIsValid = true;
        $(".field.required").each(function () {
            if ($(this).val().trim() === "") {
                formIsValid = false;
                $(this).css("border-color", "red");
                if (!$(this).next().hasClass("error-message")) {
                    $(this).after("<p class='error-message' style='color: red; text-align: left;'>Este campo es obligatorio.</p>");
                }
            } else {
                $(this).css("border-color", "");
                $(this).next(".error-message").remove();
            }
        });

        if (formIsValid) {
            showConfirmation();
        }
    }

    function showConfirmation() {
        var userName = $('#Name').val();
        $('#userName').text('Nombre del Usuario: ' + userName);
        $('#confirmationModal').modal('show');
    }

    function submitForm() {
        $('#registerForm').submit();
    }
</script>





