@model SAEE_Web.Entities.CourseAvailableEnt

@{
    ViewBag.Title = "RegisterCourseAvailable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h2 class="contacts_form-header_title">Habilitar Cursos</h2>
            </div>
            @if (ViewBag.BoxMessage != null)
            {
                <div class="alert alert-info" role="alert" style="text-align:center">
                    @ViewBag.BoxMessage
                </div>
            }

            @using (Html.BeginForm("RegisterCourseAvailable", "CourseAvailable", FormMethod.Post, new { @class = "contacts_form-form" }))
            {
                <div class="form-group">
                    <label style="margin-right: 23rem;">Profesor:</label>
                    @Html.DropDownListFor(m => m.TeacherId, ViewBag.SelectListTeacher as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Tipo de usuario", id = "UserType" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 23rem;">Curso:</label>
                    @Html.DropDownListFor(m => m.CourseId, ViewBag.SelectListCourses as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Tipo de usuario", id = "UserType" })
                </div>

                <div class="form-group">
                    <label style="margin-right: 23rem;">Horario:</label>
                    @Html.DropDownListFor(m => m.ScheduleId, ViewBag.SelectListSchedule as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Tipo de usuario", id = "UserType" })
                </div>

                <div class="contacts_form-form_footer">
                    <input type="submit" class="btn btn--login" style="color:white;" value="REGISTRAR">
                </div>
            }
        </div>
    </section>
</main>


