
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="contacts">
    <section class="contacts_form">
        <div class="container">
            <div class="contacts_form-header">
                <h2 class="contacts_form-header_title">Inicio de Sesión</h2>
            </div>
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "contacts_form-form" }))
                {
                    <div class="form-group">
                        <label for="contactsEmail" style="margin-right: 53rem;">Email:</label>
                        <input class="field required" type="text" data-type="email" placeholder="Email" id="contactsEmail" />

                        @*@Html.TextBoxFor(m => m.Mail, new { @class="field required", @type = "email", @placeholder = "Email" })*@
                        @* Incluir alertas abajo de cada input por falta de datos o error *@
                    </div>
                    <div class="form-group">
                        <label for="password" style="margin-right: 52rem;">Password:</label>
                        <input class="field required" type="password" placeholder="Password" id="password" />

                        @*@Html.TextBoxFor(m => m.Password, new { @class="field required", @type = "password", @placeholder = "Password" })*@
                        @* Incluir alertas abajo de cada input por falta de datos o error *@
                    </div>

                    <div class="contacts_form-form_footer">
                        <input type="submit" class="btn btn--gradient" style="color:white;" value="INICIAR SESIÓN">
                    </div>
                }
        </div>
    </section>
</main>
