@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="underlay"></div>
    <div class="container d-lg-flex align-items-center">
        <div class="banner_content">
            <h1 class="banner_content-title">
                Bienvenidos a ELEC Spanish School
            </h1>
        </div>

        <div class="banner_media">
            <picture>
                <img class="lazy" data-src="" src="~/Images/placeholder.jpg" alt="media" />
            </picture>
        </div>
    </div>
</div>

<section class="promo">
    <div class="container d-flex flex-column-reverse flex-lg-row justify-content-lg-end">
        <div class="promo_media">
            <img src="~/Images/descarga.png" style="width: 100%; height: 100%" alt="Imagen Central" />
        </div>
        <div class="promo_content">
            <h2 class="promo_content-header" data-aos="fade-left">¡Aprende un nuevo idioma en línea y expande tus horizontes!</h2>
            <p class="" data-aos="fade-up" data-aos-delay="50">
                Explora el mundo a través del aprendizaje de nuevos idiomas. Con nuestras clases en línea, podrás sumergirte en una experiencia única de aprendizaje desde la comodidad de tu hogar. Nuestros cursos están diseñados para adaptarse a tu ritmo y nivel de habilidad, lo que te permite progresar de manera efectiva y confiada. Desde el primer día, te sumergirás en la cultura, las expresiones y las tradiciones de la lengua que estás aprendiendo. ¡Únete a nuestra comunidad global de aprendices de idiomas hoy mismo y comienza tu viaje hacia la fluidez y la comprensión intercultural!
            </p>
        </div>
    </div>
</section>
