@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- features section start -->
<main class="" style=" margin: 100px auto; max-width: 1000px; flex-grow: 1 ">
    
            <ul class="features_list d-md-flex flex-wrap">
                <li class="features_list-item col-md-4" data-order="1" data-aos="fade-up">
                    <div class="card">
                        <div class="content">
                            <div class="card_media">
                                <i class="icon-user-graduate-solid icon"></i>
                            </div>
                            <div class="card_main">
                                <h5 class="card_main-title">Inicio de cuatrimestre</h5>
                                <p class="card_main-text">
                                    Recuerda tener todo en orden para el inicio de clases el 15 de enero.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="features_list-item col-md-4" data-order="2" data-aos="fade-up">
                    <div class="card">
                        <div class="content">
                            <div class="card_media">
                                <i class="icon-globe-solid icon"></i>
                            </div>
                            <div class="card_main">
                                <h5 class="card_main-title">Todo en un solo sitio</h5>
                                <p class="card_main-text">
                                    Con el nuevo sitio SAEE puedes ver el material de estudio, calificaciones y demás de forma ágil y sencilla.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="features_list-item col-md-4" data-order="3" data-aos="fade-up">
                    <div class="card">
                        <div class="content">
                            <div class="card_media">
                                <i class="icon-headset-solid icon"></i>
                            </div>
                            <div class="card_main">
                                <h5 class="card_main-title">Asistencia</h5>
                                <p class="card_main-text">
                                    Recuerda utilizar el servicio de reportes ante cualquier imprevisto o fallo en el sitio.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <script src="~/Template/js/common.min.js"></script>       
</main>
