@model List<SAEE_Web.Entities.EnrolledCoursesEnt>

@{
    ViewBag.Title = "AllCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() > 0)
{
    <br />
    <div class="contacts_form-header">
        <h2 class="contacts_form-header_title">Mis Cursos</h2>
    </div>
    <hr />
    <main class="features_list d-md-flex flex-wrap" style="display:flex; justify-content:center; max-width: 960px; margin: 0 auto;">
        @foreach (var item in Model)
        {

            <div class="features_list-item col-md-4" data-order="1" data-aos="fade-up" style="margin-bottom: 20px; margin-right: 60px;">
                <div class="card" style="width: 18rem; padding: 20px; height:30rem;">
                    <div class="content">

                        <img class="card-img-top" src="~/Images/librosEj.jpg" alt="Ejemplo Curso">

                        <div class="card_main">
                            <h5 class="card_main-title">@item.CourseName</h5>
                            <p class="card_main-text">@item.CourseDescription</p>
                            <p class="card_main-text">@item.TechearName</p>
                            <a href="@Url.Action("SpecificCourse", "Course", new { q = item.CourseId })" id="btnCurso" class="btn btn-primary">Ir al curso</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </main>
    <br />
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
        <div class="alert alert-info" role="alert" style="text-align: center; max-width: 960px; font-size: 15pt">
            No hay cursos matriculados en este momento.
        </div>
    </div>
}